@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.content{
    min-height: calc(100vh - 8rem);
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../assets/imagem-login.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.titulo{
    font-family: "Kaisei Decol", serif;
    font-weight: 500;
    font-size: 2rem;
    color: #111111;
}

.formContainer{
    display: flex;
    flex-direction: column;
    width: 25rem;
    background-color: #FFFAFA;
    border-radius: 20px;
    padding: 2rem 2rem;
}

.label{
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    margin-top: 1rem;
}

.botao{
    margin-top: 1rem;
    background-color: #750000;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s ease-in;
}

.botao:hover{
    background-color: #470000;
}  

.texto{
    font-family: "Raleway", sans-serif;
    color: #111111;
    width: 100%;
    text-align: center;
}

.link{
    color: #750000;
    text-decoration: none;
}