@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.mainContent{
    min-height: calc(100vh - 26rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerProdutos{
    display: flex;
    width: 66rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 2rem;
    gap: 2rem;
}

.titulo{
    font-family: "Kaisei Decol", serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #111111;
    margin: 2rem 0;
}

.msgVazia{
    color: #111111;
    font-family: "Lora", serif;
    width: 100%;
    text-align: center;
}