.icon{
    width: 5rem;
    height: 5rem;
    color: #FFFAFA;
    background-color: #750000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom: 2rem;
    left: 2rem;
    transition: background-color 0.3s ease-in;
}

.icon:hover{
    background-color: #470000;
}